# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision

#for example:
#torch==2.0.1
#matplotlib==3.7.2

pinecone-client[grpc]==5.1.0
langchain-pinecone==0.1.2
langchain-openai==0.1.23
langchain==0.2.15
pypdf
tiktoken
openai